- name: Ensure a playlist URL was provided
  fail:
    msg: "Please provide a playlist URL using '-e playlist_url=...'"
  when: playlist_url is not defined
- name: Install system dependencies
  apt:
    name:
      - python3-pip
      - python3-venv
      - ffmpeg
    state: present
    update_cache: yes
- name: Install yt-dlp into a Virtual Environment
  pip:
    name: yt-dlp
    virtualenv: "{{ venv_path }}"
    virtualenv_command: python3 -m venv
    state: latest
- name: Create download directory
  file:
    path: "{{ download_path }}"
    state: directory
    mode: '0755'
    owner: "{{ ansible_user }}"
  become: false
- name: Execute yt-dlp from the Virtual Environment
  command: >
    {{ venv_path }}/bin/yt-dlp 
    -x 
    --audio-format mp3 
    --audio-quality 0 
    --embed-thumbnail 
    --add-metadata 
    -o "{{ download_path }}/%(playlist)s/%(playlist_index)s - %(title)s.%(ext)s" 
    "{{ playlist_url }}"
  register: ytdlp_output
  changed_when: "'has already been downloaded' not in ytdlp_output.stdout"
  become: false