---
# PLAY 2: Update Inventory on the Ansible Server
- name: Add new VM to inventory file
  ansible.builtin.lineinfile:
    path: /home/aap/github/ansible/inventory
    insertafter: '^\[newly_provisioned_vms\]'
    line: "{{ hostvars['kvm_host']['vm_name'] }} ansible_ssh_host={{ hostvars['kvm_host']['ip_output']['stdout'] | trim }}"
    state: present
  when: hostvars['kvm_host']['ip_output'] is defined
- name: Commit and push to GitHub
  ansible.builtin.shell: |
    cd /home/aap/github/ansible
    git add inventory
    git commit -m "Auto-add {{ hostvars['kvm_host']['vm_name'] }} to inventory"
    git push
  when: hostvars['kvm_host']['ip_output'] is defined