---
# PLAY 2: Update Inventory on the Ansible Server

- name: Debug current directory
  ansible.builtin.command: pwd
  delegate_to: localhost
  register: current_path

- name: Show me the path
  ansible.builtin.debug:
    var: current_path.stdout

- name: Add new VM to inventory file
  ansible.builtin.lineinfile:
    # Use ../ to step out of the 'playbooks' folder into the project root
    path: "{{ playbook_dir }}/../inventory"
    insertafter: '^\[newly_provisioned_vms\]'
    line: "{{ hostvars['kvm_host']['vm_name'] }} ansible_ssh_host={{ hostvars['kvm_host']['ip_output']['stdout'] | trim }}"
    state: present
  delegate_to: localhost

- name: Commit and push to GitHub
  ansible.builtin.shell: |
    cd /home/aap/github/ansible
    git add inventory
    git commit -m "Auto-add {{ hostvars['kvm_host']['vm_name'] }} to inventory"
    git push
  delegate_to: localhost  # <--- This ensures git commands run locally
  when: hostvars['kvm_host']['ip_output'] is defined