---
# tasks file for vault_ssh_keys
- name: Get a Vault secret via the API
  ansible.builtin.uri:
    url: https://10.0.0.33:8200/v1/ssh_keys/data/lab04
    validate_certs: false
    method: GET
    headers:
      X-Vault-Token: "{{ vault_token }}" 
    body: '{"data":{"key":"value"}}'
    body_format: json
    return_content: yes
  register: response
  
- name: set variable group_name
  ansible.builtin.set_fact:
    group_name: "{{ response.json.data.data[group_name]}}"

- name: Display group variable name
  ansible.builtin.debug:
    msg: "group name: {{ group_name }}"   

- name: Create new variable with appended _pub
  set_fact:
    group_name_pub: "{{ [group_name + '_pub'] }}"

- name: Display new group variable name
  ansible.builtin.debug:
    msg: "group name: {{ group_name_pub }}"       

- name: Add/Ensure the SSH key is in /etc/ssh/ssh_host_rsa_key
  ansible.builtin.copy:
    content: "{{ group_name_pub }}"
    dest: /etc/ssh/ssh_host_rsa_key
    #state: present  # Ensures the line is present, appends if not, does nothing if it is.
    #create: yes
    mode: 0600 # Ensure correct permissions
  become: true