---
# tasks file for vault_ssh_keys
- name: Get a Vault secret via the API
  ansible.builtin.uri:
    url: https://10.0.0.33:8200/v1/ssh_keys/data/lab04
    validate_certs: false
    method: GET
    headers:
      X-Vault-Token: "{{ vault_token }}"
    body: '{"data":{"key":"value"}}'
    body_format: json
    return_content: yes
  register: response

- name: set variable retrieved_value
  ansible.builtin.set_fact:
    retrieved_value: "{{ response.json.data.data[group_name] }}"

- name: Display retrieved value
  ansible.builtin.debug:
    msg: "retrieved value: {{ retrieved_value }}"

- name: Create new variable with appended _pub
  set_fact:
    "{{ group_name }}_pub": "{{ retrieved_value }}"

- name: Display new retrieved value
  ansible.builtin.debug:
    msg: "retrieved value: {{ group_name_pub }}"    

- name: Display new group variable name
  ansible.builtin.debug:
    msg: "group name: {{ lookup('vars', group_name + '_pub') }}"

- name: Add/Ensure the SSH key is in /etc/ssh/ssh_host_rsa_key
  ansible.builtin.copy:
    content: "{{ lookup('vars', group_name + '_pub') }}"
    dest: /etc/ssh/ssh_host_rsa_key
    mode: 0600 # Ensure correct permissions
  become: true