---
# tasks file for vault_ssh_keys

- name: Basic usage
  ansible.builtin.debug:
    msg: "'{{ lookup('ansible.builtin.env', 'VAULT_ADDR') }}' is the VAULT URL environment variable."

- name: Basic usage
  ansible.builtin.debug:
    msg: "'{{ lookup('ansible.builtin.env', 'VAULT_TOKEN') }}' is the VAULT TOKEN environment variable."

- name: Get VAULT_TOKEN from environment
  set_fact:
    vault_token: "{{ lookup('ansible.builtin.env', 'VAULT_TOKEN') }}"

- name: Get VAULT_URLN from environment
  set_fact:
    vault_addr: "{{ lookup('ansible.builtin.env', 'VAULT_ADDR') }}"    

- name: Use the variable
  debug:
    msg: "Vault Token: {{ vault_token }}"


- name: Get a Vault secret via the API
  ansible.builtin.uri:
    url: "{{ vault_addr }}"/v1/ssh_keys/data/lab04
    validate_certs: false
    method: GET
    headers:
      X-Vault-Token: "{{ vault_token }}"
    body: '{"data":{"key":"value"}}'
    body_format: json
    return_content: yes
  register: response


- name: Add/Ensure the SSH key is in /etc/ssh/ssh_host_rsa_key
  ansible.builtin.copy:
    content: "{{ group_name + '_pub' }}"
    dest: /etc/ssh/ssh_host_rsa_key
    mode: 0600 # Ensure correct permissions
  become: true
