---
# tasks file for hasicorp_vault
- name: Get VAULT_TOKEN from environment
  ansible.builtin.set_fact:
    vault_token: "{{ lookup('ansible.builtin.env', 'VAULT_TOKEN') }}"

- name: Get VAULT_URL from environment
  ansible.builtin.set_fact:
    vault_address: "{{ lookup('ansible.builtin.env', 'VAULT_ADDR') }}"

- name: Fetch specific keys from Vault secrets
  vars:
    vault_secret_data: {}
  loop: "{{ vault_secrets }}"
  loop_control:
    loop_var: secret
  block:
    - name: Fetch data for {{ secret.secret_name }}
      ansible.builtin.uri:
        url: "{{ vault_address }}/v1/{{ vault_kv_version }}/data/{{ secret.secret_name }}"
        validate_certs: false
        method: GET
        headers:
          X-Vault-Token: "{{ vault_token }}"
        return_content: yes
      register: secret_result
      no_log: false

    - name: Extract specific keys for {{ secret.secret_name }}
      ansible.builtin.set_fact:
        vault_secret_data: "{{ vault_secret_data | default({}) | combine({secret.secret_name: secret_result.json.data.data | select(key, key in secret.keys) | dict}) }}"
      when: secret_result.json is defined and secret_result.json.data is defined and secret_result.json.data.data is defined

- name: Structure the Vault data under the ford_vault key
  ansible.builtin.set_fact:
    ford_vault: "{{ vault_secret_data }}"