---
# tasks file for hasicorp_vault
- name: Get VAULT_TOKEN from environment
  ansible.builtin.set_fact:
    vault_token: "{{ lookup('ansible.builtin.env', 'VAULT_TOKEN') }}"

- name: Get VAULT_URL from environment
  ansible.builtin.set_fact:
    vault_address: "{{ lookup('ansible.builtin.env', 'VAULT_ADDR') }}"

- name: Get kersmaka Vault secrets via the API
  ansible.builtin.uri:
    url: "{{ vault_address }}/v1/kv2/data/{{ item.secret_path }}"
    validate_certs: true
    method: Get
    headers:
      X-Vault-Token: "{{ vault_token }}"
      return_content: yes
  loop: "{{ vault_secrets }}"
  register: vault_results

- name: Set facts under kersmaka_vault namespace
  ansible.builtin.set_fact:
    kersmaka_vault: "{{ kersmaka_vault | default({}) | combine ( { (item.item.key_prefix): vault_results.results[loop.index0].json.data.data} ) }}"
  loop: "{{ vault_secrets }}"
  no_log: true