---
- name: Add history timestamp to /etc/profile
  hosts: rhel_hosts
  become: true

  tasks:
    - name: Adding timestamp to /etc/profile...
      lineinfile:
        path: /etc/profile
        line: "export HISTTIMEFORMAT='%F %T '"
          #validate: 'source /etc/profile %s'  # make changes effective
        state: present
  tasks:
    - name: Make changes effective
      shell: 'source /etc/profile %s'
