- hosts: homelab
  tasks:
    - name: Test Vault lookup
      debug:
        msg: "{{ lookup('community.hashi_vault.hashi_vault', 'secret/test:value', url='https://10.0.0.33:8200/', token='hvs.4icVDQC4UHjq3iTE0A8d52kO') }}"
