---
- name: Remove KVM Virtual Machine
  hosts: kvm_host
  become: true
  vars:
    image_path: "/home/ansible_admin/vms/qcow2/{{ vm_name }}.qcow2"

  tasks:
    - name: Force stop and undefine VM
      ansible.builtin.shell: |
        virsh destroy {{ vm_name }} || true
        virsh undefine {{ vm_name }} --remove-all-storage
      register: virsh_output
      failed_when: 
        - virsh_output.rc != 0
        - "'domain not found' not in virsh_output.stderr"

    - name: Ensure qcow2 file is deleted (fallback)
      ansible.builtin.file:
        path: "{{ image_path }}"
        state: absent