---
- name: Ping remote host with specific user and private key
  hosts: "{{ target }}"
  gather_facts: false
  vars:
    #ansible_user: admin
    #ansible_ssh_private_key_file: /home/admin/.ssh/id_rsa
  tasks:
    - name: Test connectivity
      ping:
