---
- name: Find AAP Installation Host
  hosts: aap26Fresh
  gather_facts: no
  tasks:
    - name: Check for AAP installation directory
      stat:
        path: "/home/aap/ansible-automation-platform-containerized-setup-bundle-2.6-1.1-x86_64"
      register: aap_dir_check
      ignore_errors: yes


    - name: Run AAP containerized restore
      shell: |
        cd {{ path }}
        ansible-playbook -i inventory ansible.containerized_installer.restore
      args:
        chdir: "{{ path }}"
        executable: /bin/bash
      become: yes
      become_user: aap
      register: restore_result
      changed_when: true
      failed_when: false

    - name: Display restore output summary
      debug:
        msg: "{{ restore_result.stdout_lines[:30] }}"
      when: restore_result.stdout_lines is defined    
