---
- name: update and reboot
  hosts: rhel_hosts
  gather_facts: yes
  tasks:
    - name: upgrade all packages
      dnf:
        name: '*'
        state: latest

    - name: reboot servers
      reboot:
        pre_reboot_delay: 05
        msg: "!!! Ansible is rebooting this node in 05 seconds!!!"

- name: update and reboot
  hosts: debian_hosts
  gather_facts: yes
  tasks:
    - name: upgrade all packages
      ansible.builtin.apt:
        name: '*'
        state: latest

    - name: reboot servers
      reboot:
        pre_reboot_delay: 05
        msg: "!!! Ansible is rebooting this node in 05 seconds!!!"
