---
- name: update and reboot
  hosts: rhel_hosts
  gather_facts: yes
  tasks:
    - name: upgrade all packages
      dnf:
        name: '*'
        state: latest
      register: dnf_upgraded

    - name: reboot servers
      reboot:
        pre_reboot_delay: 05
        msg: "!!! Ansible is rebooting this node in 05 seconds!!!"
      when: dnf_upgraded.changed = true

- name: update and reboot
  hosts: debian_hosts
  gather_facts: yes
  tasks:
    - name: upgrade all packages
      ansible.builtin.apt:
        name: '*'
        state: latest
        register: result

    - name: reboot servers
      reboot:
        pre_reboot_delay: 05
        msg: "!!! Ansible is rebooting this node in 05 seconds!!!"
      when: result is changed
