$ANSIBLE_VAULT;1.1;AES256
62663538353530306235353539366661633662346337353135323231326161363134646539323330
3663303662366636343763636537626331633635356263620a666333376238313562646534313435
62326564326563633265336533626236343036633236393038613531376263613133353565363662
6239396332343737610a313831633439383865323366316166393135666134653463623935346634
38343465336138323334346535666365313463333437333464356161656539663431343538633861
63396131613237393961323634373864323036666638383864303065626635636264366533613435
346166356131663930636261663332646461
