#1. A token with a permissions to read the secret
#2. The URL, including the namespace, of the secret path
#3. The Key of the Secret for which you want to retreive the vaule for

---
- name: Define the list of Vault secrets required by this role
  hosts: all  # Add a hosts directive here
  tasks:
    - name: Set Vault secrets fact
      ansible.builtin.set_fact:
        vault_secrets:
          - secret_name: "secret-recipes/data/krabby-patty"
            keys: ["krabby-patty"]

- name: Include the hasicorp_vault role
  hosts: all  # Add a hosts directive here (can be the same or different)
  tasks:
    - name: Include Vault role
      include_role:
        name: hasicorp_vault
      vars:
        vault_secrets: "{{ vault_secrets }}"
        vault_kv_version: "kv2"

- name: Example of accessing the secrets
  hosts: all  # Add a hosts directive here
  tasks:
    - name: Debug Vault secret
      ansible.builtin.debug:
        msg: "Kerberos Password: {{ ford_vault['secret-recipes/data/krabby-patty']['krabby-patty'] | mandatory }}"